*{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

:root{
  --heading:'Montserrat', sans-serif;
}

body{
  font-family:'Lato', sans-serif;
  background: #fff;
}
/* 
global styling */
img{
  width: 100%;
}
ul{
  list-style:none;

}

a{
  text-decoration: none;
  color: #000;
}

hr{
  width:95vw;
  margin:0 auto;
}

/* header */

.top-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  height: 120px;

}
.top-head .fas{
  font-size: 2rem;
  cursor: pointer;
}

/* js related styling*/

.times-btn{
  display: none;
}
.Nav-Bar{
  background: #333;
}
.show-nav{
  height: auto;
}

/***/

.Nav-Bar ul li{
  text-align: center;
  display: block;
  padding: 15px 0;
  transition: all 1s ease-in-out;
  width: 20%;
  font-size:20px;
}

.Nav-Bar ul li:hover{
  background: #0e0e0e;
}

.Nav-Bar ul li a{
  color: #fff;
  text-transform: uppercase;
}
.Nav-Bar ul li a:hover{
  text-decoration: underline;
}

.header
{
  background-position: center;
  background-size: cover;
  position: relative;
}

.headerhome
{
  min-height:100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://drive.google.com/uc?id=1X8B9ufqN1_GcR25gO1CTr9tEeJVlBLl6);
  background-position: center;
  background-size: cover;
  position: relative;
}
.text-box
{
  width: 100%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.text-box h1
{
  font-size: 62px;
}

.text-box p
{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;

}

.bottomText
{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.bottomText-seemore
{
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  left: 150px;
  box-shadow: 0px 3px 3px #888888;
}

.bottomText:hover
{
  border: 1px solid #CCD0F8;
  background: #CCD0F8;
  transition:1s;
  color: #000;
}

.bottomText-seemore:hover
{
  border: 1px solid #88CCF1;
  background: #88CCF1;
  transition:1s;
}



@media(max-width: 460px){
  .hot-topic-content h2{
      font-size: 16px;
  }

  .main-container-right article{
      display:block;
  }

  .main-container-right article img{
      display: none;
  }
}

@media(max-width: 500px){
  .main-container-right article{
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr 1fr;
  }

  .main-container-right article h4{
      grid-row: 1/2;
      grid-column: 1/2;
      align-self: flex-start;
  }

  .main-container-right article img{
      grid-row: 2/3;
      grid-column: 1/2;
  }

  .main-container-right article div{
      grid-row: 1/3;
      grid-column: 2/3;
  }
}




@media(min-width: 768px){
  .banner-sub-content{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }

  .container-bottom-left{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }

  .container-bottom-left2{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }

}




@media(min-width: 800px){
/* nav */
  .ham-btn, .times-btn{
  display: none!important;
}

  .navigation-container{
      display: flex;
      background: #252525;
      align-items: center;
      flex-wrap: wrap;
  }

.top-head{
  flex: 0 0 15%;
}

.Nav-Bar{
  flex: 1 0 auto;
  height: 100%;
  background: transparent;
}

.Nav-Bar nav ul{
  display: flex;
  justify-content: center;

}

.Nav-Bar nav ul li{
  padding-right: 30px;
}

.Nav-Bar nav ul li:hover{
  background: none;

}
}

@media(min-width:992px){
  main{
      display: grid;
      grid-template-columns: repeat(2, 1fr);

  }

}




@media(min-width:1080px){
  .banner{
      grid-template-columns: 1fr 2fr;
  }
}

p 
{
  text-align: justify;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
body{
margin: 0;
padding: 0;
background: linear-gradient(120deg,#ffffff, #65f67b);
height: 100vh;

}
.center{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 400px;
background: white;
border-radius: 10px;
box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
text-align: center;
padding: 20px 0;
border-bottom: 1px solid silver;
}
.center form{
padding: 0 40px;
box-sizing: border-box;
}
form .loginF{
position: relative;
border-bottom: 2px solid #adadad;
margin: 30px 0;
}
.loginF input{
width: 100%;
padding: 0 5px;
height: 40px;
font-size: 16px;
border: none;
background: none;
outline: none;
}
.loginF label{
position: absolute;
top: 50%;
left: 5px;
color: #adadad;
transform: translateY(-50%);
font-size: 16px;
pointer-events: none;
transition: .5s;
}
.loginF span::before{
content: '';
position: absolute;
top: 40px;
left: 0;
width: 0%;
height: 2px;
background: #2691d9;
transition: .5s;
}
.loginF input:focus ~ label,
.loginF input:valid ~ label{
top: -5px;
color: #2691d9;
}
.loginF input:focus ~ span::before,
.loginF input:valid ~ span::before{
width: 100%;
}
.pass{
margin: -5px 0 20px 5px;
color: #a6a6a6;
cursor: pointer;
}
.pass:hover{
text-decoration: underline;
}

input[type="submit"]{
width: 100%;
height: 50px;
border: 1px solid;
background: #2691d9;
border-radius: 25px;
font-size: 18px;
color: #e9f4fb;
font-weight: 700;
cursor: pointer;
outline: none;
}
input[type="submit"]:hover{
border-color: #2691d9;
transition: .5s;
}
.signup{
margin: 30px 0;
text-align: center;
font-size: 16px;
color: #666666;
}
.signup a{
color: #2691d9;
text-decoration: none;
}
.signup a:hover{
text-decoration: underline;
}

.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}


.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 550px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 15px;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.6;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
  color: #000;
}


.collection-container {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}



button:hover span {
width: 100%;
}

button:hover {
border: none;
}


/*////////////////////////////////////////////////////////*/
/*//////////////////// Achivement page ///////////////////*/
/*////////////////////////////////////////////////////////*/

/* Plants */
.achievements-grid-container
{
  display: grid;
  grid-template-columns: auto;
  margin-top: 50px;
}

.achievements-grid-container h2
{
  font-size: 60px;
  font-family: serif;
  position: relative;
  text-align: center;
}

.achievements-row
{
  background-color: rgb(153, 255, 187,0.5);
  margin: 10px 25px;
  border-radius: 25px;
  padding: 20px;
  min-height: 50vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
}

.achievements-content img
{
  float: left;
  width: 20%;
  height: 20%;
  margin: 30px;
}

.achievements-content h1
{
  font-size: 60px;
  font-family: serif;
  color: rgb(3, 0, 0)
}

.achievements-content h5
{
  font-size: 1.4em;
  font-family: monospace;
  margin: 5px;
  font-weight: normal;
  color: white;
  position: relative;
  padding: 7px;
}

.achievements-content a
{
  position: relative;
  margin-top: 20px;
  text-transform: uppercase;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: 500;
  Letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
}

.achievements-content p
{
  font-size: 20px;
  font-family: 'Baloo Thambi 2', cursive;
  margin: 5px;
  font-weight: normal;
  color:black;
}

select {
  
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://lh3.googleusercontent.com/oY6ElMn7dLgZR6F__1BsIrwOX2V-f-gDYy2W482Lua-sVa5kSwhK86teCAn8p5_oItjPMHxHXYN810q-vmgECyrc7LvSEeOuFSmzJzesKXnsIplgzIo3fsUJDNST-rvuMcYblFtcfA=w2400) 96% / 15% no-repeat #eee;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');
/* PERFORMANCES */

.performances h5
{
  font-size: 1.4em;
  font-family: monospace;
  margin: 5px;
  font-weight: normal;
  color: white;
  position: relative;
  top: 7px;
}

.performances p
{
  font-size: 20px;
  font-family: 'Baloo Thambi 2', cursive;
  margin: 5px;
  font-weight: normal;
  color:white;
}

.panelPlants
{
  text-align: justify;
  overflow: hidden;
  max-height: 0px;
  transition: all .2s ease-in;
  border-radius: 25px;
  margin-right: 20px; 
}

.panelHydration
{
  text-align: justify;
  overflow: hidden;
  max-height: 0px;
  transition: all .2s ease-in;
  border-radius: 25px;
  margin-right: 20px; 
}

.panelUpdates
{
  text-align: justify;
  overflow: hidden;
  max-height: 0px;
  transition: all .2s ease-in;
  border-radius: 25px;
  margin-right: 20px; 
}

.panel p
{
  margin-right: 10px;
  margin-bottom: 10px;
}

.accordion
{
  width: 30%;
  padding: 0px;
  height: 50px;
  border:3px solid;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  margin: 20px 10px 0px;
}

.accordion:hover 
{
background-color: #666699;
}

.performanceicon:after 
{
  content: '\002B';
  color: rgb(63, 253, 193);
  font-weight: bold;
  margin-left: 10px;
  float: left;
  padding: 5px;
  font-size: 40px;
  position: relative;
  bottom: 5px;
}

.active .performanceicon:after 
{content: "\2212";}


/*////////////////////////////////////////////////////////////*/
/*//////////////////// Achivement page End ///////////////////*/
/*////////////////////////////////////////////////////////////*/


/*////////////////////////////////////////////////////////////*/
/*//////////////////// Reminder Page Start ///////////////////*/
/*////////////////////////////////////////////////////////////*/

.reminder-grid-container
{
  display: grid;
  grid-template-columns: auto;
}

.reminder-grid-container h1

{
  font-size: 60px;
  font-family: Comic;
  position: relative;
  text-align: center;
}

.reminder-row
{
background-color: rgb(153, 255, 187,0.5);
margin: 10px 25px;
border-radius: 25px;
padding: 20px;
min-height: 5vh;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
}

.reminder-row h1
{
font-size: 30px;
  font-family: Comic;
  color: rgb(0, 0, 0);
  text-align: center;
}

table, th, td {
border: 1px solid black;
border-collapse: collapse;
background-color: #88CCF1;
width: 1250px;
margin: auto;
}

tr:nth-child(even) {
background-color: rgba(150, 212, 212, 0.4);
}

th:nth-child(even),td:nth-child(even) {
background-color: rgba(150, 212, 212, 0.4);
}

/*////////////////////////////////////////////////////////////*/
/*//////////////////// Reminder Page End ///////////////////*/
/*////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////*/
/*//////////////////// Plant page Start///////////////////*/
/*////////////////////////////////////////////////////////*/

.PlantDropdown{
  position: relative;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  .PlantDropdown h1{
  top:20%;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  }
  .PlantDropdown form{
  padding: 0 40px;
  box-sizing: border-box;
  }


/*Shop Style*/

.col-sm-4 div{
  padding: 50px
}
.col-sm-4 div p{
  text-align: justify;
}
.col-sm-4 div h3{
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin-top: 30px;
}

.carousel-inner .item:nth-child(1){
  background-color: rgb(93, 35, 253);
}

.carousel-inner .item:nth-child(1):hover {
  background-color: #e62bff;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
} 

.carousel-inner .item:nth-child(2){
  background-color:#00cec9;
}

.carousel-inner .item:nth-child(2):hover {
  background-color: #3ef681;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.carousel-inner .item:nth-child(3){
  background-color:#ffc312;
}

.carousel-inner .item:nth-child(3):hover {
  background-color: #ffb338;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.carousel-inner .item:nth-child(4){
  background-color:#fd89a8;
}

.carousel-inner .item:nth-child(4):hover {
  background-color: #ff38bd;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.carousel-inner .item:nth-child(5){
  background-color:#18e2f9;
}

.carousel-inner .item:nth-child(5):hover {
  background-color: #3881ff;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.carousel-inner .item:nth-child(6){
  background-color:#ff10cb;
}

.carousel-inner .item:nth-child(6):hover {
  background-color: #ff307f;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}