<!DOCTYPE html>
<html>
    <head>
        <!-- Page Title -->
        <title> Plantopia - Achievement </title>
        <!-- Metadata -->
        <meta charset = "utf-8">
        <meta name = "author" content = "ASP Team 109">
        <meta name = "description" content = "Displays the achievements of the user">
        <meta name = "refresh" content = "600">
        <!-- To allow better viewing on mobile devices -->
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <link rel = "stylesheet" type = "text/css" href = "/stylesheet/style.css">
        <script type = "module" src = "../functions/achievementsPage.js"></script>
    </head>

    <body class="achievementsbody">
        <header>
            <div class = "navigation-container">
                <div class = "top-head">
                    <div class = "web-name">
                        <a href = "Home.html"><img src = "https://drive.google.com/uc?id=1ToiXKSQVxbs7VDFjJ9ke9CLKamKGLedq"></a>
                    </div>
    
                    <div class = "ham-btn">
                        <span>
                             <i class = "fas fa-bars"></i>
                        </span>
                    </div>
                    <div class = "times-btn">
                        <span>
                            <i class = "fas fa-times"></i>
                        </span>
                    </div>
                </div>

                <!-- Navigation Bar -->
                <div class = "Nav-Bar" id = "Nav-Bar">
                    <nav>
                        <ul>
                            <li><a href = "Home.html">Home</a></li>
                            <li><a href = "Plants.html">Plants</a></li>
                            <li class = "active"><a href = "Achievements.html">Achievements</a></li>
                            <li><a href = "Shops.html">Shops</a></li>
                            <li><a href = "Reminders.html">Reminders</a>
                            <li><a href = "History.html">History</a>
                            <li><a href = "Login.html">Log In</a>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <section>
            <div class = "achievements-grid-container">
                <h2>Personal Achievements</h2>

                <!-- Plant Achivements -->
                <div class = "achievements-row">
                    <div class = "achievements-content">
                        <img src = "https://drive.google.com/uc?id=1lVksxunjYklgovzBMmdrRehad7r8u4_s">
                        <h1>Plants</h1>
                        <div class = "accordion">
                            <div class = "performanceicon"></div>
                            <h5>Achievements List</h5>
                        </div>
                        <div id = "panelPlants" class = "panelPlants"></div>                      
                    </div>
                </div>

                <!-- Hydration Achievements -->
                <div class = "achievements-row">
                    <div class = "achievements-content">
                        <img src = "https://drive.google.com/uc?id=1Na3_fqeUHVpmIMdOLb5lZ1Q6nLxL-si3">
                        <h1>Hydration</h1>  
                        <div class = "accordion">
                            <div class = "performanceicon"></div>
                            <h5>Achievements List</h5>
                        </div>
                        <div id = "panelHydration" class = "panelHydration"></div>                      
                    </div>
                </div>

                <!-- Updates Achievement -->
                <div class = "achievements-row">
                    <div class = "achievements-content">
                        <img src = "https://drive.google.com/uc?id=1GKGYs8-QMwta8Ii3bEpLpgda4eT2Ccai">
                        <h1>Tasks</h1>  
                        <div class = "accordion">
                            <div class = "performanceicon"></div>
                            <h5>Achievements List</h5>
                        </div>
                        <div id = "panelTasks" class = "panelTasks"></div>                      
                    </div>
                </div>
            </div>
        </section>
        
        <script src = "script.js" async defer></script>
    </body>
</html>