<!DOCTYPE html>
<html>
    <head>
        <!-- Page Title -->
        <title> Plantopia - History </title>
        <!-- Metadata -->
        <meta charset = "utf-8">
        <meta name = "author" content = "ASP Team 109">
        <meta name = "description" content = "Displays the history of the user">
        <meta name = "refresh" content = "600">
        <!-- To allow better viewing on mobile devices -->
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <link rel = "stylesheet" type = "text/css" href = "/stylesheet/style.css">
    </head>

    <body>
        <body class = "achievementsbody">
            <header>
                <div class = "navigation-container">
                    <div class = "top-head">
                        <div class = "web-name">
                            <a href = "Home.html"><img src = "https://drive.google.com/uc?id=1kcM09i9VVKkjatP_R2CIH65m5zlbXe2D"></a>
                        </div>
        
                        <div class = "ham-btn">
                            <span>
                                 <i class = "fas fa-bars"></i>
                            </span>
                        </div>
                        <div class = "times-btn">
                            <span>
                                <i class = "fas fa-times"></i>
                            </span>
                        </div>
                    </div>

                    <!-- Navigation Bar -->
                    <div class = "Nav-Bar" id = "Nav-Bar">
                        <nav>
                            <ul>
                                <li><a href = "Home.html">Home</a></li>
                                <li><a href = "Plants.html">Plants</a></li>
                                <li><a href = "Achievements.html">Achievements</a></li>
                                <li><a href = "Shops.html">Shops</a></li>
                                <li><a href = "Reminders.html">Reminders</a></li>
                                <li class = "active"><a href = "History.html">History</a></li>
                                <li><a href = "Login.html">Log In</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            
            <div class = "history-grid-container">
                <h1>History</h1>
            </div>

            <div class = "history-row">
                <h1 contenteditable = "true">Day/Date(editable)</h1>    
            </div>

            <div class = "history-row2">
                <h1 contenteditable = "true">Time</h1>    
            </div>

            <div class = "history-row3">
                <h1 contenteditable = "true">Activity</h1>    
            </div>

            <div class = "history-row4">
                <h1 contenteditable = "true">Time</h1>    
            </div>

            <div class = "history-row5">
                <h1 contenteditable = "true">Activity</h1>    
            </div> 

            <div class = "history-row6">
                <h1 contenteditable = "true">Day/Date(editable)</h1>    
            </div> 

        <script src = "script.js" async defer></script>
    </body>
</html>