<!DOCTYPE html>
<html>
    <head>
        <!-- Page Title -->
        <title> Plantopia - History </title>
        <!-- Metadata -->
        <meta charset = "utf-8">
        <meta name = "author" content = "ASP Team 109">
        <meta name = "description" content = "Displays the history of the user">
        <meta name = "refresh" content = "600">
        <!-- To allow better viewing on mobile devices -->
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
        <link rel = "stylesheet" type = "text/css" href = "/stylesheet/style.css">
    </head>

    <body>
        <body class = "achievementsbody">
            <header>
                <div class = "navigation-container">
                    <div class = "top-head">
                        <div class = "web-name">
                            <a href = "Home.html"><img src = "https://drive.google.com/uc?id=1ToiXKSQVxbs7VDFjJ9ke9CLKamKGLedq"></a>
                        </div>
        
                        <div class = "ham-btn">
                            <span>
                                 <i class = "fas fa-bars"></i>
                            </span>
                        </div>
                        <div class = "times-btn">
                            <span>
                                <i class = "fas fa-times"></i>
                            </span>
                        </div>
                    </div>

                    <!-- Navigation Bar -->
                    <div class = "Nav-Bar" id = "Nav-Bar">
                        <nav>
                            <ul>
                                <li><a href = "Home.html">Home</a></li>
                                <li><a href = "Plants.html">Plants</a></li>
                                <li><a href = "Achievements.html">Achievements</a></li>
                                <li><a href = "Shops.html">Shops</a></li>
                                <li><a href = "Reminders.html">Reminders</a></li>
                                <li class = "active"><a href = "History.html">History</a></li>
                                <li><a href = "Login.html">Log In</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>

            <div class = "reminder-row">
                <h1>History</h1>    
            </div>

            

            <table class="ui celled table">
                <thead>
                  <tr><th>Day/Date</th>
                  <th>Plant</th>
                  <th>Activity</th>
                </tr></thead>
                <tbody>
                  <tr>
                    <td data-label="Day/Date">Monday</td>
                    <td data-label="Plant">Nil</td>
                    <td data-label="Activity">Nil</td>
                  </tr>
                  <tr>
                    <td data-label="Day/Date">Tuesday</td>
                    <td data-label="Plant">Nil</td>
                    <td data-label="Activity">Nil</td>
                  </tr>
                  <tr>
                    <td data-label="Day/Date">Wednesday</td>
                    <td data-label="Plant">Nil</td>
                    <td data-label="Activity">Nil</td>
                  </tr>
                  <tr>
                    <td data-label="Day/Date">Thursday</td>
                    <td data-label="Plant">Nil</td>
                    <td data-label="Activity">Nil</td>
                  </tr>
                  <tr>
                    <td data-label="Day/Date">Friday</td>
                    <td data-label="Plant">Nil</td>
                    <td data-label="Activity">Nil</td>
                  </tr>
                  <tr>
                    <td data-label="Day/Date">Saturday</td>
                    <td data-label="Plant">Nil</td>
                    <td data-label="Activity">Nil</td>
                  </tr>
                  <tr>
                    <td data-label="Day/Date">Sunday</td>
                    <td data-label="Plant">Nil</td>
                    <td data-label="Activity">Nil</td>
                  </tr>
                  
                </tbody>
              </table>




        <script src = "script.js" async defer></script>
    </body>
</html>