<!DOCTYPE html>
<html>
    <head>
        <!-- Page Title -->
        <title> Plantopia - Plants </title>
        <!-- Metadata -->
        <meta charset = "utf-8">
        <meta name = "author" content = "ASP Team 109">
        <meta name = "description" content = "Displays the plants of the user">
        <meta name = "refresh" content = "600">
        <!-- To allow better viewing on mobile devices -->
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
        <link rel = "stylesheet" type = "text/css" href = "/stylesheet/style.css">
        <script type = "module" src = "../functions/plantPage.js"></script>
    </head>

    <body>
       <!--header-->
       <header>
            <div class = "navigation-container">
                <div class = "top-head">
                    <div class = "web-name">
                        <a href = "Home.html"><img src = "https://drive.google.com/uc?id=1ToiXKSQVxbs7VDFjJ9ke9CLKamKGLedq"></a>
                    </div>

                    <div class = "ham-btn">
                        <span>
                            <i class = "fas fa-bars"></i>
                        </span>
                    </div>
                    <div class = "times-btn">
                        <span>
                            <i class = "fas fa-times"></i>
                        </span>
                    </div>
                </div>

                <!-- Navigation Bar -->
                <div class = "Nav-Bar" id = "Nav-Bar">
                    <nav>
                        <ul>
                            <li><a href = "Home.html">Home</a></li>
                            <li class = "active"><a href = "Plants.html">Plants</a></li>
                            <li><a href = "Achievements.html">Achievements</a></li>
                            <li><a href = "Shops.html">Shops</a></li>
                            <li><a href = "Reminders.html">Reminders</a></li>
                            <li><a href = "../index.html">Log In</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class = "row">
            <h1>Plants</h1>    
        </div>

        <!-- Table to display Plants the User owns -->
        <table class = "ui celled table" id = "plantsTable">
            <thead>
                <tr>
                    <th>Plant</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Dos</th>
                    <th>Donts</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>

        <!-- Drop Down List to add Plants into Firebase -->
        <div class = "plantDropdown">
            <div class = "addPlants">
                <form>
                    <label for = "plantID"><h1>Choose a plant:</h1></label>
                        <h1>
                            <select id = "plantID"></select><br>
                        </h1>
                    <button type="button" id = "addPlantButton">Add Plant</button>
                </form>
            </div>
        </div>
        <script src = "script.js" async defer></script>
    </body>
</html>