<!DOCTYPE html>
<html>
    <head>
        <!-- Page Title -->
        <title> Plantopia - Plants </title>
        <!-- Metadata -->
        <meta charset = "utf-8">
        <meta name = "author" content = "ASP Team 109">
        <meta name = "description" content = "Displays the plants of the user">
        <meta name = "refresh" content = "600">
        <!-- To allow better viewing on mobile devices -->
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <link rel = "stylesheet" type = "text/css" href = "/stylesheet/style.css">
        <script type = "module" src = "../functions/plantPage.js"></script>
    </head>

    <body>
       <!--header-->
       <header>
            <div class = "navigation-container">
                <div class = "top-head">
                    <div class = "web-name">
                        <a href = "Home.html"><img src = "https://drive.google.com/uc?id=1ToiXKSQVxbs7VDFjJ9ke9CLKamKGLedq"></a>
                    </div>

                    <div class = "ham-btn">
                        <span>
                            <i class = "fas fa-bars"></i>
                        </span>
                    </div>
                    <div class = "times-btn">
                        <span>
                            <i class = "fas fa-times"></i>
                        </span>
                    </div>
                </div>

                <!-- Navigation Bar -->
                <div class = "Nav-Bar" id = "Nav-Bar">
                    <nav>
                        <ul>
                            <li><a href = "Home.html">Home</a></li>
                            <li class = "active"><a href = "Plants.html">Plants</a></li>
                            <li><a href = "Achievements.html">Achievements</a></li>
                            <li><a href = "Shops.html">Shops</a></li>
                            <li><a href = "Reminders.html">Reminders</a></li>
                            <li><a href = "History.html">History</a></li>
                            <li><a href = "Login.html">Log In</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div id = "userPlants"></div>

        <div class="plantDropdown">
            <div class = "addPlants">
                <form>
                    <label for = "plantID"><h1>Choose a plant:</h1></label>
                        <h1>
                            <select id="plantID"></select><br>
                        </h1>
                    <input type = "submit" value = "Add Plant">
                </form>
            </div>
        </div>
    </div>
        <script src = "script.js" async defer></script>
    </body>
</html>