<!DOCTYPE html>
<html>
    <head>
        <!-- Page Title -->
        <title> Plantopia - Reminders </title>
        <!-- Metadata -->
        <meta charset = "utf-8">
        <meta name = "author" content = "ASP Team 109">
        <meta name = "description" content = "Displays the reminders of the user">
        <meta name = "refresh" content = "600">
        <!-- To allow better viewing on mobile devices -->
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
        <link rel = "stylesheet" type = "text/css" href = "/stylesheet/style.css">
    </head>
    
    <body>
        <header>
            <div class = "navigation-container">
                <div class = "top-head">
                    <div class = "web-name">
                        <a href = "Home.html"><img src = "https://drive.google.com/uc?id=1ToiXKSQVxbs7VDFjJ9ke9CLKamKGLedq"></a>
                    </div>

                    <div class = "ham-btn">
                        <span>
                            <i class = "fas fa-bars"></i>
                        </span>
                    </div>
                    <div class = "times-btn">
                        <span>
                            <i class = "fas fa-times"></i>
                        </span>
                    </div>
                </div>
                
                <!-- Navigation Bar -->
                <div class = "Nav-Bar" id = "Nav-Bar">
                    <nav>
                        <ul>
                            <li><a href = "Home.html">Home</a></li>
                            <li><a href = "Plants.html">Plants</a></li>
                            <li><a href = "Achievements.html">Achievements</a>
                            <li><a href = "Shops.html">Shops</a></li>
                            <li class = "active"><a href = "Reminders.html">Reminders</a>
                            <li><a href = "History.html">History</a>
                            <li><a href = "Login.html">Log In</a>
                        </ul>
                    </nav>
                </div>
            </div>
            </header>
        
        <div class = "reminder-grid-container">
            <h1>Reminders</h1>
        </div>

        <div class = "reminder-row">
            <h1>Plant Schedule</h1>    
        </div>

        <table class="ui celled table">
            <thead>
            <tr><th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
            </tr></thead>
            <tbody>
              <tr>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
              </tr>
              <tr>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
              </tr>
              <tr>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
              </tr>
              <tr>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
              </tr>
              <tr>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
                <td data-label="Activity">Editable</td>
              </tr>

              
            </tbody>
          </table>

        
        <script src = "script.js" async defer></script>
    </body>
</html>