<!DOCTYPE html>

<html lang="en" dir="ltr">
    <html class="no-js">
        <head>
            <meta charset = "utf-8">
            <meta http-eqiv="X-UA-Compatible" content="IE=edge">
            <title></title>
            <meta name = "description" content = "Sports News">
            <meta name = "keywords" content = "Sports News">
            <meta name = "viewport" content = "width = device-width, initial-scale = 1">
            <link rel="stylesheet" href="style.css">
            <!-- google fonts -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
            <!--fontawesome-->
            <script src="https://kit.fontawesome.com/6577d9627d.js" crossorigin="anonymous"></script>
        </head>
  <body>
    <header>
        <div class = "navigation-container">
            <div class = "top-head">
                <div class = "web-name">
                    <a href="Home.html"><img src="https://drive.google.com/uc?id=1kcM09i9VVKkjatP_R2CIH65m5zlbXe2D"></a>
                </div>

                <div class = "ham-btn">
                    <span>
                         <i class = "fas fa-bars"></i>
                    </span>
                </div>
                <div class = "times-btn">
                    <span>
                        <i class = "fas fa-times"></i>
                    </span>
                </div>
            </div>
            <!--nav bar-->
            <div class = "nav-bar" id = "nav-bar">
                <nav>
                    <ul>
                        <li class="active"><a href="Home.html"></i>HOME</a></li>
                        <li><a href="Plants.html"></i>PLANT</a></li>
                        <li><a href="Achievements.html"></i>ACHIEVEMENT</a>
                        <li><a href="Shop.html"></i>SHOP</a></li>
                        <li><a href="Reminder.html"></i>REMINDER</a>
                        <li><a href="History.html"></i>HISTORY</a>
                        <li><a href="Login.html"></i>LOGIN</a>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <body>
        
        <section class="product"> 
            <h2 class="product-category">Plant Shops</h2>
            <button class="pre-btn"><img src="images/arrow.png" alt=""></button>
            <button class="nxt-btn"><img src="images/arrow.png" alt=""></button>
            <div class="product-container">
                <div class="product-card">
                    <div class="product-image">
                        <img src="images/BLG Nursery.jpg" class="product-thumb" alt="">
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand"><a href="https://www.blgnursery.com">BLG Nursery</a></h2>
                        <p class="product-short-description">Easy plant shopping at marked sections</p>
                        <span class="price">$15 - $128</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="images/Tumbleweed Plants.jpg  " class="product-thumb" alt="">
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand"><a href="https://tumbleweedplants.com/">Tumbleweed Plants</a></h2>
                        <p class="product-short-description">To build your dream jungalow home</p>
                        <span class="price">$5 - $250</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="images/Easi Grow.jpg" class="product-thumb" alt="">
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand"><a href="https://www.easi-grow.com/">Easi Grow</a></h2>
                        <p class="product-short-description">Start small with succulents and miniature arrangements</p>
                        <span class="price">$68</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="images/A tilly a day.jpg" class="product-thumb" alt="">
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand"><a href="https://www.atillyaday.com/">A Tilly a Day</a></h2>
                        <p class="product-short-description">Air plants are the way to go for busy people</p>
                        <span class="price">$3.50 - $138</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="images/House of Plants.jpg" class="product-thumb" alt="">
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand"><a href="https://www.houseofplants.sg/">House of Plants</a></h2>
                        <p class="product-short-description">Your friendly neighbourhood plant shop/greenhouse</p>
                        <span class="price">$8 - $58</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="images/PottaPlantta.jpg" class="product-thumb" alt="">
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand"><a href="https://www.pottaplantta.com/">PottaPlantta</a></h2>
                        <p class="product-short-description">For pretty pots and accessories</p>
                        <span class="price">$30 - $216</span>
                    </div>
                </div>  
                </div>
            </div>
        </section>
        
        
        <script src = "script.js"async defer></script>
    </body>
</html>