<!DOCTYPE html>
<html>
    <head>
        <!-- Page Title -->
        <title> Plantopia - Sign Up </title>
        <!-- Metadata -->
        <meta charset = "utf-8">
        <meta name = "author" content = "ASP Team 109">
        <meta name = "description" content = "Displays the sign up page of the user">
        <meta name = "refresh" content = "600">
        <!-- To allow better viewing on mobile devices -->
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <link rel = "stylesheet" type = "text/css" href = "/stylesheet/style.css">
        <link rel = "preconnect" href = "https://drive.google.com/">
        <script type = "module" src = "../functions/signup.js"></script>
    </head>
    
    <body>
        <header>
            <div class = "navigation-container">
                <div class = "top-head">
                    <div class = "web-name">
                        <a href = "Home.html"><img src = "https://drive.google.com/uc?id=1ToiXKSQVxbs7VDFjJ9ke9CLKamKGLedq"></a>
                    </div>

                    <div class = "ham-btn">
                        <span>
                            <i class = "fas fa-bars"></i>
                        </span>
                    </div>
                    
                    <div class = "times-btn">
                        <span>
                            <i class = "fas fa-times"></i>
                        </span>
                    </div>
                </div>
                
                <!-- Navigation Bar -->
                <div class = "Nav-Bar" id = "Nav-Bar">
                    <nav>
                        <ul>
                            <li><a href = "Home.html">Home</a></li>
                            <li><a href = "Plants.html">Plants</a></li>
                            <li><a href = "Achievements.html">Achievements</a></li>
                            <li><a href = "Shop.html">Shops</a></li>
                            <li><a href = "Reminder.html">Reminders</a></li>
                            <li><a href = "History.html">History</a></li>
                            <li><a href = "Login.html">Log In</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <!--------------------------Sign up page start-------------------------------->
        <div class = "center">
            <h1>Sign up</h1>
            <form>

                <div class = "loginF">
                    <input type="text" name="email" id="email" required>
                    <span></span>
                    <label for="email"><b>Email</b></label>
                </div>

                <div class = "loginF">
                    <input type="password" name="psw" id="psw" required>
                    <span></span>
                    <label><b>Password</b></label>
                </div>

                <div class = "pass"></div>
                <button type="button" id="submitData" name="submitData" class="registerbtn">Sign up</button>
                    <!-- <input type = "submit" value = "Sign up"> -->
                    <div class = "signup">
                        Are you a member? <a href = "Login.html"></i>Log in</a>
                </div>
             </form>
        </div>  

        <!--------------------------Sign up page end-------------------------------->
        

        <script src = "script.js" async defer></script>        
    </body>
</html>


    