<!DOCTYPE html>
<html>
    <head>
        <!-- Page Title -->
        <title> Plantopia - Sign Up </title>
        <!-- Metadata -->
        <meta charset = "utf-8">
        <meta name = "author" content = "ASP Team 109">
        <meta name = "description" content = "Displays the sign up page of the user">
        <meta name = "refresh" content = "600">
        <!-- To allow better viewing on mobile devices -->
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <link rel = "stylesheet" type = "text/css" href = "../stylesheet/style.css">
        <link rel= "icon" type = "image/x-icon" href = "https://drive.google.com/uc?id=1ToiXKSQVxbs7VDFjJ9ke9CLKamKGLedq">
        <script type = "module" src = "../functions/signupPage.js"></script>
    </head>
    
    <body>
        <div class = "center">
            <h1>Sign up</h1>
            <form>
                <div class = "loginF">
                    <input type = "text" name = "email" id = "email" required>
                    <span></span>
                    <label for = "email"><b>Email</b></label>
                </div>

                <div class = "loginF">
                    <input type = "password" name = "psw" id = "psw" required>
                    <span></span>
                    <label><b>Password</b></label>
                </div>

                <div class = "pass"></div>
                <button type = "button" id = "submitData" name = "submitData" class = "registerbtn">Sign up</button>
                    <!-- <input type = "submit" value = "Sign up"> -->
                    <div class = "signup">
                        Are you a member? <a href = "../index.html"></i>Log in</a>
                </div>
             </form>
        </div>  
        <script src = "script.js" async defer></script>        
    </body>
</html>


    